.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0 0;

  & section {
    width: 50%;
  }
}

.pageTitle {
  color: var(--highlight-text-color);
  font-size: 1.2rem;
  margin: 32px 0;
}
